@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");

body {
  margin: 0%;
}
.roboto-font {
  font-family: "Roboto", sans-serif;
}

/* shared styles */
.primary-width {
  margin: 0 auto;
  max-width: 80%;
}
li {
  list-style: none;
}
/* nav styles */
header {
  background: black;
}
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 auto;
}
.nav-name {
  color: rgb(230, 83, 60);
  font-weight: 900;
  font-size: 1.5rem;
  font-style: italic;
}
.nav-items {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-items li {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1rem;
  padding: 15px 35px;
  border-radius: 40px;
}
.nav-item-home {
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
.menu-bar {
  width: 24px;
  height: 24px;
  display: none;
}

/* banner styles */
.banner-container {
  display: flex;
  justify-content: space-between;
}
.banner-description {
  /* margin-right: 50%; */
}
.banner-description h1 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 4rem;
}
.banner-description p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
.banner-description button {
  font-size: 1rem;
  color: white;
  padding: 15px 45px;
  border: none;
}
.btn-1 {
  border-radius: 42px;
  background: rgb(230, 83, 60);
}
.btn-2 {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
}
.banner-content .banner-image {
  height: 100%;
  width: 85%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.banner-image img {
  height: 100%;
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  position: absolute;
  top: 75%;
  left: 15%;

  height: 80px;
  width: 160px;

  background-color: rgba(255, 255, 255, 0.1);
}
.right .circle {
  background-color: rgb(230, 83, 60);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.right-text h3 {
  font-size: 1.5rem;
  color: rgb(250, 250, 249);
}
.right-text p {
  color: rgba(239, 237, 232, 0.65);
}
.left {
  position: absolute;
  top: 25%;
  left: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.left h2 {
  font-size: 2.5rem;
  color: aliceblue;
  margin: 0px;
}
.left p {
  color: rgba(240, 248, 255, 0.723);
}
#font-style-1 {
  font-family: "Grey Qo", cursive;
  letter-spacing: 9px;
  font-weight: 500;
}

/* change habit styles */

.change-habit {
  padding: 100px 0;
  background-color: black;
}
.change-habit-description {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.change-habit-description h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
}
.change-habit-description p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
  font-weight: 400;
}
.change-habit-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-container h5 {
  font-size: 1.25rem;
  color: white;
  margin: 10px 0;
  font-weight: 400;
}
.image-container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}
.image-container img {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(51, 49, 49);
  border-radius: 50%;
}

/* extra run styles */

.run-extra {
  background-color: black;
}
.run-extra .extra-run-container {
  background-color: rgb(34, 34, 34);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.extra-run-description {
  padding: 40px;
  width: 35%;
}
.extra-run-description button {
  padding: 5px 20px;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: rgb(230, 83, 60);
  color: white;
  border: none;
  border-radius: 20px;
}
.extra-run-description h3 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
.extra-run-description p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}

.extra-run-image img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  margin: 50px;
}

/* meet team styles */
.meet-team {
  padding: 70px 0;
  background-color: black;
}
.team-description {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.team-description h3 {
  font-size: 3rem;
  color: white;
  font-weight: 900;
}
.team-description p {
  margin: 20px 0 50px 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
.meet-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  border-radius: 16px;
}
.meet-image {
  position: relative;
  width: 33%;
  height: 400px;
}
.meet-image img {
  width: 300%;
  height: 100%;
  border-radius: 18px;
}
.name-mate {
  position: absolute;
  top: 80%;
  left: 20%;
  width: 200%;
}
.name-mate h5 {
  font-size: 1.25rem;
  color: white;
  font-weight: 900;
  margin: 0px;
}
.name-mate p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

/* responsive media query */

@media screen and (max-width: 576px) {
  .primary-width {
    max-width: 90%;
    margin: 0 auto;
  }
  .navbar {
    display: none;
  }
  .menu-bar {
    display: inline-block;
  }
  .banner-container,
  .extra-run-container {
    flex-direction: column;
  }
  .banner-description h1 {
    font-size: 2.25rem;
  }
  .btn-1 {
    width: 40%;
  }
  .btn-2 {
    width: 40%;
  }
  .change-habit-description {
    width: 100%;
  }
  .change-habit-images,
  .meet-images {
    grid-template-columns: 1fr;
  }
  .change-habit-description h3,
  .extra-run-description h3 {
    font-size: 2rem;
  }
  .image-container {
    margin-bottom: 30px;
  }
  .extra-run-description,
  .extra-run-image img,
  .bmi-chart {
    width: calc(100% - 90px);
    /* padding: 30px; */
  }
  .bmi-description {
    width: 90%;
    margin: 0 auto;
  }
}
